html,
body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
}

#root {
	align-items: start;
	display: grid;
	flex: 1 0 0%;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	padding: 1rem;
}

form {
	display: grid;
	gap: 1rem;
	grid-template-columns: minmax(20ch, auto) 1fr;
}

label {
	display: grid;
	gap: 1rem;
	grid-column: 1 / 3;
	grid-template-columns: subgrid;
	margin-inline: 1rem;
}

label > span:first-child {
	cursor: pointer;
	grid-column: 1 / 2;
}

label > :first-child + * {
	grid-column: 2 / 3;
}

textarea {
	height: 165px;
}

iframe,
[data-orbit-file-sender-iframe-placeholder] {
	border-radius: 1rem;
	border: 1rem dashed #9a9a9a;
	box-sizing: border-box;
	min-height: 100%;
	min-width: 100%;
	padding: 0.5rem;
}
[data-orbit-file-sender-iframe-placeholder] {
	align-items: center;
	color: #9a9a9a;
	display: flex;
	font-family: system-ui;
	font-size: 6rem;
	justify-content: center;
}

.back-link {
	font-size: 1.5rem;
}
.back-link,
.back-link:hover {
	text-decoration: none;
}
.back-link:hover .back-link {
	text-decoration: underline;
}
