html,
body {
	margin: 0;
	padding: 0;
}
form {
	display: grid;
	flex-direction: column;
	gap: 2rem;
	grid-template-columns: auto 1fr;
}
input,
select {
	padding: 0.25rem;
}
label {
	display: grid;
	grid-column: 1 / 3;
	grid-template-columns: subgrid;
}
label > span:first-child {
	cursor: pointer;
	grid-column: 1 / 2;
	white-space: nowrap;
}
label > :first-child + * {
	grid-column: 2 / 3;
}
progress {
	grid-column: 2 / 3;
	width: 100%;
}
progress::-webkit-progress-value {
	transition: 100ms width ease;
}
img {
	border-radius: 8px;
	border: 4px solid transparent;
	box-shadow: 0 0 0 3px #666;
	display: block;
	grid-column: 2 / 3;
	height: auto;
	justify-self: center;
	margin-top: 0.5rem;
	max-height: 300px;
	max-width: calc(100% - 16px);
	width: auto;
}
[data-orbit-file-receiver-error-container] {
	background-color: #fff5f5;
	border: none;
	border-left-color: #fc8181;
	border-left-style: solid;
	border-left-width: 4px;
	color: #c53030;
	display: none;
	grid-column: 1 / 3;
	padding: 1rem;
}
